{% extends "base.html" %}

{% block title %}Registro{% endblock %}

{% block content %}
<h1>Registro de usuario</h1>
<form method="POST">
    {{ form.hidden_tag() }}

    {% for field in [form.username, form.email, form.password, form.confirm_password] %}
        <p>
            {{ field.label }}<br>
            {{ field() }}
            {% for error in field.errors %}
                <br><span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
    {% endfor %}

    {{ form.submit() }}
</form>
{% endblock %}